<form class='signin-form' action="/session" method="post">
	<%= auth_token %>
	<h1>Looking to Sign In?</h1>
	<h2>Doom doom doom doom...</h2>
	<label> Enter your username here:
		<br>
		<input type="text" name="user[username]" value="">
	</label>
	<br>
	<label> And maybe a password here, if you're feelin' up to it.
		<br>
		<input type="password" name="user[password]" value="">
	</label>
	<br>
	<br>
	<a class='account-signup-link' href="/users/new">Need an account?</a>
	<input type="submit" value="Sign In">

</form>
<br>
<br>
<br>
