<form class= "signin-form" action="/users" method="post">
	<h1>Sign Up</h1>
	<h2>Join us!</h2>
	<%= auth_token %>
	<label>Your Future Username:
		<br>
		<input type="text" name="user[username]" value="">
	</label>
	<br>
	<br>
	<label>Your Future Password:
		<br>
		<input type="password" name="user[password]" value="">
		<br>
		(Be warned, it must be at least 7 characters long!)
	</label>
<br>
<br>
	<a class='account-signup-link' href="/users/new">Already have an account?</a>
	<input class='signup' type="submit" value="Join the glorious empire">

</form>
<br>
<br>
