<form class= "signin-form" action="/users" method="post">
	<h1>Sign Up</h1>
	<h2>Join us!</h2>
	<%= auth_token %>
		<input type="text"
		  name="user[username]"
			placeholder="Your Future Username"
			id="username">

		<input
			type="password"
			name="user[password]"
			placeholder="Your Future Password"
			id="password">
		(Be warned, it must be at least 7 characters long!)
<br>
<br>
	<a class='account-signup-link' href="/#/login">Already have an account?</a>
	<input class='signup' type="submit" value="Join the glorious empire">

</form>
<br>
<br>
