/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*RESET*/
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   font-size: inherit;
   color: inherit;
   font-family: inherit;
   box-sizing: inherit;
   text-decoration: inherit;
   margin: 0;
   padding: 0;
   border: 0;

   background: transparent
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  cursor: pointer;
}

input {
	border: 1px solid #333;
	border-radius: 5px;
}

input:focus {
	border: 1px solid #665d32;
}

body {
	background: #000;
	color: #fff;
	font-family: sans-serif;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}

/*HEADER-NAV*/
.header-nav {
	width: 100%;
	background: #2b2b2b;
	color: #fff;
	box-shadow: 0 0 11px 1px #111;
	float: left;
}

.nav-left{
	margin: 0 100px;
	float:left;
}


.logo {
	float: left;
	padding: 20px;
}

.logo:hover {
	background: #444442;
}

.new-image-button-container {
	float: right;
	padding: 20px;
}

.new-image {
	padding: 3px 10px;
	background: linear-gradient(to bottom,#3274e5 0,#2d67cc 100%);
	border-radius: 5px;
}

.signin {
	margin: 10px 100px;
	float: right;
	padding: 10px 20px;
}

.nav-account-options {
	display: none;
	position: absolute;
	margin-top: 10px;
	white-space: nowrap;
	color: #000;
	background: #fff;
	font-size: 14px;
	right:110px;
	width: 150px;
	overflow: hidden;
	z-index: 9000;
	border-top: 3px solid #85bf25;
}

.signin > a {
	padding: 16px 10px;
	font-size: 14px;
	color: #ddddd1;
}

.nav-account-options > li {
	padding: 10px;
}

.signin:hover > .nav-account-options {
	display: block;
}
/*Signin*/
.signin-form {
	width: 400px;
	display: block;
	margin: 20px;
	padding: 10px 20px;
	border: ;
	background: #2b2b2b;
}
.signin-form > h1 {
	padding-top: 10px;
	font-size: 20px;
	color: #ddddd1;
}
.signin-form > h2 {
	color: #999;
	font-size: 14px;
	padding-bottom: 20px;
}

.signin-form > input {
	color: #666;
	display: block;
	color: #fff;
	background: #212121;

	font-size: 12px;
	margin-bottom: 10px;
	padding: 5px 10px;
	outline: none;
}


.signin-submit {
	background: linear-gradient(to bottom,#74b20e 0,#5b8c0b 100%);
	border-top: 1px solid #a6ee32;
	border-bottom: 1px solid #426608;
	border-radius: 2px;
	padding: 8px 20px;
}

.signin-submit:hover {
	background: linear-gradient(to bottom,#7cbf0f 0,#63990c 100%);
}
.account-signup-link {
	display: block;
	padding-right: 10px;
	padding-top: 7px;
	float: left;
	color: #999;
}
.account-signup-link:hover {
	color: #fff;
}

.signin-form > input.signup {
	display: block;
	background: #3274e5;
	background: linear-gradient(to bottom,#3274e5 0,#2a61bf 100%);
	border-top: 1px solid #4d8eff;
	border-bottom: 1px solid #1f478c;
	border-radius: 2px;
	padding: 8px 20px;
}

.signin-form > input.signup:hover {
	background: #357bf2;
	background: linear-gradient(to bottom,#357bf2 0,#306ed9 100%);
	border-top: 1px solid #6ba1ff;
	border-bottom: 1px solid #1f478c;
}

/*IMAGE INDEX STUFF*/
.image-index {
	position: relative;
	margin: auto;
	width: 900px;
	background: #2b2b2b
}

.image-index-item {
	padding: 10px;
	float:left;
	color: #fff;
	height: 190px;
	width: 190px;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 5px;
	outline: 1px solid #121211;
	outline-offset: -2px;
}

.image-index-item:hover {
	border: 1px solid #bec900;
}
/*IMAGE SHOW AND EDIT*/
.image-show {
	position: relative;
	margin: auto;
	font-size: 36px;
	width: 500px;
	height: 500px;
	color: #fff;
	border: 1px solid #999;
	border-radius: 10px;
	outline: 1px solid #121211;
	outline-offset: -3px;
}

.image-details-bar {
	display: none;
	position: absolute;
	border: 1px solid #fff;
	bottom: 0;
	width: 458px;
	float: left;
	font-size: 16px;
	padding: 20px;
}

.image-details > li {
	margin: 5px;
}

.image-details-bar > .image-details{
	float: left;
	width: 250px;
}
.image-details-bar > a {
	color: #4E76C9;
	float:right;
	position: absolute;
	top: 45%;
	left: 60%;
	padding: 0;
}
.image-show:hover > .image-details-bar{
	display: block;
	opacity: 1;
	background-color: rgba(0,0,0,.6);
}

.image-edit {
	position: relative;
	background: #2B2B2B;
	display: block;
	left: 40%;
	top: 100px;
	border: 2px solid #444442;
	border-radius: 6px;
	width: 300px;
	z-index: 3;

}

.image-edit-header {
	width: 298px;
	height: 40px;
	float: left;
	background: #232323;
	margin: 0;
	border-bottom: 1px solid #000;
}

.image-edit-header > h3 {
	color: #ddddd1;
	position: absolute;
	padding: 10px;
	top: -20px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #222;
	letter-spacing: 1px;
}

.image-edit-form {
	padding: 10px;
	margin-top: 30px;
	font-size: 14px;
	padding-top: 5px;
}

.image-edit-input {
	width: 258px;
	background: #121211;
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 0;
	margin: 10px;
	font-weight: 400;
	outline: none;
}

.image-edit-input:focus {
	border: 1px solid #665d32;
}

.image-edit-form > textarea {
	color: #ddddd1;
	height: 60px;

}

.image-edit-submit {
	font-weight: 700;
	font-size: inherit;
	margin: 10px;
	border: 2px solid #444442;
	border-radius: 4px;
	padding: 5px 15px;
	background: #121211;
}

.image-edit-submit:hover {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(0%,#444442),color-stop(100%,#121211));
}

.modal {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
