
@import "font-awesome-sprockets";
@import "font-awesome";

/*RESET*/
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   font-size: inherit;
   color: inherit;
   font-family: inherit;
   box-sizing: inherit;
   text-decoration: inherit;
   margin: 0;
   padding: 0;
   border: 0;

   background: transparent
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  cursor: pointer;
}

input {
	border: 1px solid #333;
	border-radius: 5px;
}

input:focus {
	border: 1px solid #665d32;
}

body {
	background: #000;
	color: #fff;
	font-family: 'Source Code Pro';
}
.group:after {
  content: "";
  display: block;
  clear: both;
}

/*HEADER-NAV*/
.header-nav {
	width: 100%;
	background: #2b2b2b;
	color: #fff;
	box-shadow: 0 0 11px 1px #111;
}

.nav-left{
	margin: 0 0 0 80px;
	float:left;
}


.logo {
	display: block;
	float: left;
	height: 50px;
	width: auto;
	padding: 10px;

}

.logo:hover {
	background: #444442;
}

.new-image-button-container {
	display: block;
	width: 400px;
}

.new-image {
	padding: 5px 13px;
	margin-left: 60px;
	margin-top: 20px;
	background: linear-gradient(to bottom,#3274e5 0,#2d67cc 100%);
	border-radius: 5px;
}

.signin {
	margin: 0;
	float: right;
	padding: 15px;
}

.nav-account-options {
	display: none;
	position: absolute;
	margin-top: 5px;
	white-space: nowrap;
	color: #000;
	background: #fff;
	font-size: 14px;
	right:10px;
	width: 150px;
	overflow: hidden;
	z-index: 9000;
	border-top: 3px solid #85bf25;
}

.signin > a {
	padding: 12px 10px;
	font-size: 14px;
	color: #ddddd1;
	float: right;
}

.nav-account-options > li {
	padding: 10px;
}

.nav-account-options > li > a {
	color: #000;
}

.nav-account-options > li:last-child {
	background: #ddd;
	color: #585858;
}

.nav-account-options > li:hover {
	background: #ccc;
}

.nav-account-options > li:last-child:hover {
	color: #121211;
}

.nav-account-name:hover > .nav-account-options {
	display: block;
}

.search-form {
	color: #ccc;
  float: right;
  margin-right: 70px;
}


.search-form > input {
	width: 200px;
	height: 27px;
}

.search-form > input:focus {
	width:495px;
	outline: none;
	border:none;
	border-bottom: 4px solid #B5A10F;
}

.search-form > button {
	width: 0;
}

.search-form > button:focus {
	outline: none;
}

.nav-account-name {
	float: right;
	padding:10px;
}

.fa-search {
	position: relative;
	right: 60px;
}

/*Signin*/
.signin-form {
	width: 610px;
	display: block;
	margin: 20px;
	padding: 10px 20px;
	background: #2b2b2b;
}
.signin-form > h1 {
	padding-top: 10px;
	font-size: 20px;
	color: #ddddd1;
}
.signin-form > h2 {
	color: #999;
	font-size: 14px;
	padding-bottom: 20px;
}

.signin-form > input {
	color: #666;
	display: block;
	color: #fff;
	background: #212121;

	font-size: 12px;
	margin-bottom: 10px;
	padding: 5px 10px;
	outline: none;
}

.signin-submit {
	background: linear-gradient(to bottom,#74b20e 0,#5b8c0b 100%);
	border-top: 1px solid #a6ee32;
	border-bottom: 1px solid #426608;
	border-radius: 2px;
	padding: 8px 20px;
}

.signin-submit:hover {
	background: linear-gradient(to bottom,#7cbf0f 0,#63990c 100%);
}
.account-signup-link {
	display: block;
	padding-right: 10px;
	padding-top: 7px;
	float: left;
	color: #999;
}
.account-signup-link:hover {
	color: #fff;
}

.signup {
	display: block;
	background: #3274e5;
	background: linear-gradient(to bottom,#3274e5 0,#2a61bf 100%);
	border-top: 1px solid #6ba1ff;
	border-bottom: 1px solid #1f478c;
	padding: 8px 20px;
}

.signup:hover {
	background: #357bf2;
	background: linear-gradient(to bottom,#357bf2 0,#306ed9 100%);
}

.guest-login {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #b20000;
	border-radius: 2px;
	padding: 8px 15px;
	background: linear-gradient(to top, #660000 0, #b20000 100%);
	float: right;
}

.guest-login:hover {
	background: linear-gradient(to top, #9a0f0f 0, #bf1515 100% )
}

.facebook-signin {
	float: right;
	margin: 10px 20px;
	border-bottom: 4px solid #3A558E;
	text-align: center;
	transition-duration: .25s;
	border-radius: 4px;
	position: relative;
	top: -11px;
}

.fa {
	margin: 0 30px;
	font-size: 20px;
	padding: 3px;
	padding-top: 8px;
}

.facebook-signin:hover {
	background: #3A558E;
}
/*IMAGE UPLOAD*/

.image-upload-form {
	background: #2b2b2b;
	position: absolute;
	left: 35%;
	top: 20%;
	height: 400px;
	width: 500px;
	border: 2px solid #444442;
	border-radius: 6px;
}

.image-upload-form > h2 {
	margin: auto;
	font-weight: 400;
	padding: 20px;;
	border-bottom: 1px solid #000;
}

.image-upload-button {
	background: linear-gradient(to bottom,#2b2b2b 0,#444442 0,#121211 100%);
	padding: 162px 130px;
	top: 162px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	position: relative;
	cursor: pointer;
}

.actual-upload {
	position: absolute;
	top: -2000px;
}

.image-upload-button:focus {
	background: linear-gradient(to bottom,#2b2b2b 0,#121211 100%);
}

.image-upload-button:focus:hover {
	background: linear-gradient(to bottom,#2b2b2b 0,#444442 0,#121211 100%);
}

.preview-thumb-container > button {
	padding: 20px;
	z-index: 9000;
	float: right;
	position: relative;
	background: linear-gradient(to bottom,#74b20e 0,#5b8c0b 100%);
	border-top: 1px solid #a6ee32;
	border-bottom: 1px solid #426608;
	border-radius: 2px;
	margin: 25px 10px;
}

.preview-thumb-container-cancel {
	position: absolute;
	right: -10px;
	color: #444442;
	margin: 25px;
}

.preview-thumb-container > button:hover {
	background: linear-gradient(to bottom,#7cbf0f 0,#63990c 100%);
}

.preview-thumb-container {
	width: 500px;
	height: 105px;
	right: -1px;
	border-radius: 3px;
	border-left: 2px solid #444442;
	border-right: 2px solid #444442;
	border-bottom: 2px solid #444442;
	position: absolute;
	top: 99%;
}


.preview-image-thumb {
	background: #fff;
	margin-top: 5px;
	width: 100px;
	height: 100px;
	float: left;
}

/*IMAGE INDEX STUFF*/
.image-index {
	margin: 40px auto;
	width: 1020px;
	background: #2b2b2b;
}

.no-images-show {
	background: #000;
  color: #ccc;
  text-align: center;
	font-size: 24px
}

.image-index-item {
	float:left;
	color: #fff;
	height: 180px;
	width: 180px;
	border: 2px solid #999;
	margin: 10px;
	outline: 1px solid #121211;
	outline-offset: -2px;
	background: #fff;
	position: relative;
}


.image-index-item-wide{
	height:180px;
	width: 100%;
}

.image-index-item-tall{
	width: 180px;
	height: 100%;
}

.index-no-overflow {
	height: 180px;
	width: 180px;
	overflow: hidden;

}
.image-index-title {
	display: none;
	background: #000;
	height: auto;
	width: 200px;
	top: 101%;
	right: -25px;
	position: absolute;
	z-index: 9000;
	padding: 20px;
	border: 2px solid #444442;
}

.image-index-item:hover {
	border: 2px solid #bec900;
}
.image-index-item:hover > .image-index-title {
	display: block;
}
/*IMAGE SHOW AND EDIT*/

.image-show-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px;
	width: 800px;
	height: auto;
}


.image-show {
	border: 2px solid #444442;
	border-radius: 4px;
}

.image-show-user {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
}

.image-show-user-content {
	position: relative;
	margin: 20px auto;
	font-size: 36px;
	max-width: 800px;
	color: #fff;
	border: 2px solid #444442;
	border-radius: 6px;
}

.image-show-image-container {
	display: block;
	width: 500px;
	float: left;
	height: 660px;
}

.image-show-image-user {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin: 0;

}

.image-show-image-user > img {
	margin: auto;
	width: inherit;
	max-height: 600px;
}

.image-show-user-sidebar {
	display: block;
	float:right;
	background: #2B2B2B;
	width: 290px;
	height: 662px;
	text-align: center;
}

.image-show-privacy {
	font-size: 16px;
	background: linear-gradient(to bottom,#74b20e 0,#5b8c0b 100%);
	padding: 7px 20px;
	float: left;
	position: relative;
	top: 20px;
	width: 200px;
	left: 10%;
	border-top: 1px solid #a6ee32;
	border-bottom: 1px solid #426608;
	border-radius: 2px;
}

.delete-image-button {
	top: 80px;
	float: left;
	width: 200px;
	font-size: 16px;
	padding: 7px 20px;
	left: 10%;
	position: relative;
	background: linear-gradient(to bottom,#3274e5 0,#2a61bf 100%);
	border-top: 1px solid #6ba1ff;
	border-bottom: 1px solid #1f478c;
	border-radius: 2px;
}

.delete-image-button:hover {
	background: #357bf2;
	background: linear-gradient(to bottom,#357bf2 0,#306ed9 100%);
}

.image-show-privacy:hover {
	background: linear-gradient(to bottom,#7cbf0f 0,#63990c 100%);
	border-top: 1px solid #a6ee32;
	border-bottom: 1px solid #426608;
}

.image-show-image {
	max-height: 500px;
	max-width: 600px;
	margin: auto;
}

.image-show-image > img {
	background: #fff;
	top: 50%;
	width: inherit;
	max-height: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.image-show-item-tall {
	background: #fff;
	width: auto;
	max-height: 600px;

}

.image-show-item-wide {
	height: auto;
	background: #fff;
	max-width: 500px
}

.image-details-bar {
	display: none;
	position: absolute;

	border: 1px solid #fff;
	font-size: 16px;
	padding: 20px;
	bottom: 0;
	width: 468px;
}

.image-details > li {
	margin: 5px;
}

.image-details-user-title {
	font-weight: 700;
	color: #f2f2f2;
}

.image-details-user-description {
	font-size: 14px;
	color: #CCC;
}

.image-details-bar > .image-details{
	float: left;
	width: 300px;
}
.image-details-bar > a {
	color: #4E76C9;
	float:right;
	position: absolute;
	top: 50%;
	left: 68%;

}

.image-show-header {
	background: rgba(38,38,38,.9);
	position: relative;
	top: 0;
	padding: 10px 20px;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
	border-radius: 5px 5px 0 0
}

.image-details-title {
	color: #f2f2f2;
	font-size: 16px;
	width: 500px;
}

.image-show-image-container:hover > .image-details-bar{
	display: block;
	opacity: 1;
	background-color: rgba(0,0,0,.6);
}

.image-details-uploader {
	font-size: 14px;
	color: #B2B2B2;
}

.image-details-uploader > a {
	color: #4E76C9;
}

.image-details-description {
	position: relative;
	background: #2E2E2E;
	color: #CCC;
	bottom: 0;
	padding: 20px;
	font-size: 14px;
}

.image-edit {
	position: relative;
	background: #2B2B2B;
	display: block;
	left: 40%;
	top: 100px;
	border: 2px solid #444442;
	border-radius: 6px;
	width: 300px;
	z-index: 9001;

}

.image-edit-header {
	width: 298px;
	height: 40px;
	float: left;
	background: #232323;
	margin: 0;
	border-bottom: 1px solid #000;
}

.image-edit-header > h3 {
	color: #ddddd1;
	position: absolute;
	padding: 10px;
	top: -20px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #222;
	letter-spacing: 1px;
}

.image-edit-form {
	padding: 10px;
	margin-top: 30px;
	font-size: 14px;
	padding-top: 5px;
}

.image-edit-input {
	width: 258px;
	background: #121211;
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 0;
	margin: 10px;
	font-weight: 400;
	outline: none;
}

.image-edit-input:focus {
	border: 1px solid #665d32;
}

.image-edit-form > textarea {
	color: #ddddd1;
	height: 60px;

}

.image-edit-submit {
	font-weight: 700;
	font-size: inherit;
	margin: 10px;
	border: 2px solid #444442;
	border-radius: 4px;
	padding: 5px 15px;
	background: #121211;
}

.image-edit-submit:hover {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(0%,#444442),color-stop(100%,#121211));
}

.user-index {
	width: 820px;
	margin: 40px 0 40px 20px;
	position: relative;
	float:left;
}

.user-index-sidebar {
	float:right;
	margin: 40px;
	margin-left: 20px;
	width: 300px;
	background: #2b2b2b;
	height: 600px;
}

.user-images-display {
	position: absolute;
	width: 1220px;
	margin: auto;
}

/*COMMENTS*/

.comments-section {
	margin-top: 20px;
	padding: 20px;
	background: #2E2E2E
}

.comment-form {
	padding-top: 10px;
}

.comment-form-fields > textarea {
	background: #181817;
	width: 100%;
	height: 100%;
	min-height: 60px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 12.6px;
	color: #ddddd1;
	outline: none;
	border: 1px solid #181817
}

.comment-form-fields > textarea:focus {
	border: 1px solid #665d32;
}

.comment-form-fields > button {
	border-width: 2px;
	background: linear-gradient(to bottom,#595959 0,#404040 100%);
	padding: 10px 20px;
	color: #ddddd1;
	border-top: 2px solid #737373;
	border-radius: 2px;
	border-bottom: 2px solid #262626;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin: 10px 0;
}

.comment-form-fields > button:hover {
	background:linear-gradient(to bottom,#666 0,#595959 100%)
}

.comment-counter {
	background: #181817;
	font-size: 14px;
	padding: 10px;
	border-radius: 4px;
	color: #ddddd1
}

.comment-item {
	background: #181817;
	border-radius: 4px;
	color: #ddddd1;
	font-size: 14px;
	padding: 10px
}

.full-comment {
	margin-left:20px;
	padding: 10px 0 0px 10px

}

.comment-user-and-reply {
	margin-bottom: 5px;
	color: #aaa;
	font-size: 12px;
}

.comment-user-and-reply > div {
	padding-right: 15px;
	float: left;
}

.comment-link {
	color: #4E76C9;
}

.comment-link:hover {
	text-decoration: underline;
}

.reply:hover {
	cursor: pointer;
}

.child-comment {

}
/*ALBUM STUFF*/

.album-form {
	position: relative;
	background: #2B2B2B;
	display: block;
	left: 40%;
	top: 100px;
	border: 2px solid #444442;
	border-radius: 6px;
	width: 300px;
	z-index: 3;
	padding: 20px;
	padding-bottom: 10px;
}

.album-button {
	position: relative;
	left: 100%;
	transform: translateX(-100%)
}

.modal {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
